.comments{
    padding: 0.5rem;
}

.commentWrapper{
    display: flex;
    gap: 0.3rem;
}
.commentProfileImg{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
.commentBody{
    background-color: #bb95e5;
    border-radius: 0.5rem;
    padding: 0.5rem;
    
}